html, body, .PageWrapper{
    height: 100%;
}

.PageWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 1400px;
}

header{
    flex-shrink: 0;
}

section{
    flex-grow: 1;
    flex-shrink: 0;
}

footer{
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
    height: 140px;
    padding: 0;

}

.loading-screen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;
    color: #4c4c4c;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    display: none;
}

    .loading-screen:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .loading-screen div{
        background-color: black;
        width: 200px;
        height: 80px;
        vertical-align: middle;
        transition: width 3s;
    }

    .loading-screen span{
        vertical-align: middle;
    }

.loading-screen div:hover {
    width: 500px;
}

div.submit_experiment{
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

    div.submit_experiment h1 {
        font-size: 30px;
        margin: 0 auto 25px;
        text-align: center;
    }

        div.submit_experiment form div:not(.img) {
            text-align: center;
            font-size: 25px;
            margin: 40px 0 0 0;
        }

            div.submit_experiment form div.advanced-settings-toggle {
                margin-top: 30px;
            }

                div.submit_experiment form div.advanced-settings-toggle-content-wrapper {
                    margin: auto;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 4px 5px 5px 5px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    transition: background-color .5s;
                    -webkit-transition: background-color .5s;
                    -moz-transition: background-color .5s;
                    -o-transition: background-color .5s;
                }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper:hover {
                        background-color: lightgray;
                        cursor: pointer;
                    }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper span {
                        vertical-align: middle;
                    }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper .img {
                        display: inline-block;
                        vertical-align: middle;
                        height: 25px;
                        width: 25px;
                        background-size: contain;
                        background-image: url(/static/styles/icons/arrow_right.png);
                    }

            div.submit_experiment form div.advanced-settings {
                display: none;
                margin-top: 10px;
            }

        div.submit_experiment form p {
            margin: 0 auto 10px;
            font-size: 0;
            text-align: center;
            display: inline-block;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        div.submit_experiment form p.form_buttons {
            text-align: right;
            font-size: 0;
            margin: 40px 0 0 0;
        }

        div.submit_experiment form input {
            box-sizing: border-box !important;
            vertical-align: middle;
            font-size: 17px;
            width: 54%;
            padding: 3px 10px;
            color: #4c4c4c;
            border-radius: 4px;
            border: 1px solid lightgrey;
            height: 40px;
            transition: border-color .5s;
            -webkit-transition: border-color .5s;
            -moz-transition: border-color .5s;
            -o-transition: border-color .5s;
        }
        
/*            div.submit_experiment form input:not([type="file"]){
                border: 1px solid lightgrey;
                height: 40px;
            }*/

            div.submit_experiment form input.error{
                background-color: #f65858;
            }

            div.submit_experiment form input[type="submit"] {
                display: inline-block;
                border: none;
                background-color: lightskyblue;
                margin: 0;
                transition: background-color .5s;
                -webkit-transition: background-color .5s;
                -moz-transition: background-color .5s;
                -o-transition: background-color .5s;
            }

                div.submit_experiment form input[type="submit"]:hover {
                    background-color: #6ca4c8;
                    cursor: pointer;
                }

            div.submit_experiment form input[type="reset"] {
                display: inline-block;
                width: 44%;
                border: none;
                background-color: #f65858;
                margin: 0;
                margin-right: 2%;
                transition: background-color .5s;
                -webkit-transition: background-color .5s;
                -moz-transition: background-color .5s;
                -o-transition: background-color .5s;
            }

                div.submit_experiment form input[type="reset"]:hover {
                    background-color: #dc3f3f;
                    cursor: pointer;
                }

            div.submit_experiment form input[type="file"] {
                display: none;
            }

            div.submit_experiment form input[type="range"] {
                padding: 0;
                border: none;
                margin: 0 2% 0 0;
                width: 47%;
            }

            div.submit_experiment form input:focus {
                border-color: lightskyblue;
                border-width: 2px;
            }

        div.submit_experiment form span.calcType {
            display: inline-block;
            width: 54%;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            div.submit_experiment form span.calcType input {
                display: none;
            }

            div.submit_experiment form span.calcType label {
                font-size: 17px;
                width: 54%;
                vertical-align: middle;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                border-radius: 4px;
                margin: 0;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
            }

            div.submit_experiment form span.calcType label:first-of-type {
                width: 46%;
            }

                div.submit_experiment form span.calcType label:not(.selected-radio-button):hover {
                    cursor: pointer;
                    color: black;
                }

        div.submit_experiment form textarea {
            box-sizing: border-box;
            border: 1px solid lightgrey;
            border-radius: 4px;
            vertical-align: middle;
            font-size: 17px;
            font-family: Arial;
            color: #4c4c4c;
            width: 54%;
            height: 160px;
            padding: 3px 10px;
            resize: vertical;
            max-height: 500px;
            transition: border-color .5s;
            -webkit-transition: border-color .5s;
            -moz-transition: border-color .5s;
            -o-transition: border-color .5s;
        }

            div.submit_experiment form textarea:focus {
                border-color: lightskyblue;
                border-width: 2px;
            }

        div.submit_experiment form label:not(.file-upload) {
            margin-right: 2%;
            font-size: 17px;
            display: inline-block;
            width: 44%;
            vertical-align: middle;
            text-align: right;
        }

            div.submit_experiment form label.qRange-value {
                width: 5%;
                margin: 0;
                text-align: left;
            }

           div.submit_experiment form label.file-upload {
                cursor: pointer;
                line-height: 40px;
                width: 21%;
                display: inline-block;
                box-sizing: border-box;
           }

            div.submit_experiment form label.file-upload span.title {
                background-color: lightgray;
                padding: 0 5px;
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 17px;
                vertical-align: middle;
                transition: background-color .5s;
                -webkit-transition: background-color .5s;
                -moz-transition: background-color .5s;
                -o-transition: background-color .5s;
            }

            div.submit_experiment form label.file-upload span.title:hover {
                cursor: pointer;
                background-color: darkgrey;
            }

        div.submit_experiment form span.filename {
            height: 40px;
            padding: 0 5px;
            text-align: center;
            display: inline-block;
            width: 33%;
            box-sizing: border-box;
            border: 1px solid lightgray;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            vertical-align: middle;
            font-size: 17px;
            line-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

div.experiment_list{
    width: 55%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

    div.experiment_list h1 {
        font-size: 30px;
        margin: 0 auto 25px;
        text-align: center;
        display: inline-block;
        width: calc(100% - 5% - 68px);
        vertical-align: middle;
    }

    div.experiment_list img.filter-toggle {
        display: inline-block;
        margin: 0 0 25px 0;
        vertical-align: middle;
        border-radius: 4px;
        height: 34px;
        padding: 5px 5px 5px 5px;
        box-sizing: border-box;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -o-transition: background-color .5s;
    }

        div.experiment_list img.filter-toggle:hover {
            background-color: lightgray;
            cursor: pointer;
        }

    div.experiment_list img.img_reload_list{
        display: inline-block;
        margin: 0 0 25px 5%;
        vertical-align: middle;
        border-radius: 4px;
        height: 34px;
        padding: 5px 5px 5px 5px;
        box-sizing: border-box;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -o-transition: background-color .5s;
    }

        div.experiment_list img.img_reload_list:hover{
            background-color: lightgray;
            cursor: pointer;
        }

    .img-reload-list-overlay, .filter-toggle-overlay{
        display: none;
        position: absolute;
        top: 0;
        height: 38px;
        width: 38px;
        opacity: .7;
        background-color: whitesmoke;
    }

    .img-reload-list-overlay{
        left: 5%;
    }

    .filter-toggle-overlay{
        right: 0;
    }
    
    .experiment_list_overlay, .error-info, .list-header-overlay, .search-filter-overlay, .pagination-controls-overlay {
        display: none;
        position: absolute;
        text-align: center;
        background-color: whitesmoke;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 17px;
    }

    .list-header-overlay, .search-filter-overlay, .pagination-controls-overlay {
        opacity: .7;
    }

    div.experiment_list div.experiment_list_overlay{
        z-index: 10;
    }

    div.experiment_list div.error-info{
        z-index: 1;
    }

    div.experiment_list div.experiment_list_overlay:after, div.experiment_list div.error-info:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

        div.experiment_list div.experiment_list_overlay img, div.experiment_list div.error-info img{
            width: 128px;
            height: 128px;
            vertical-align: middle;
        }

        div.experiment_list div.error-info img {
            margin-right: 20px;
        }

    div.experiment_list .search-filter {
        font-size: 17px;
        border-radius: 4px;
        background-color: #4c4c4c;
        color: whitesmoke;
        width: 95%;
        margin: 0 0 10px 5%;
        padding-bottom: 10px;
        padding-top: 10px;
        display: none;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.experiment_list .search-filter p {
            font-size:0;
        }

            div.experiment_list .search-filter p:first-of-type {
                margin-bottom: 10px;
            }

            div.experiment_list .search-filter p span {
                font-size: 17px;
                display: inline-block;
                box-sizing: border-box;
                line-height: 30px;
                margin-left: 1%;
                height: 30px;
                vertical-align: middle;
            }

                div.experiment_list .search-filter p span.filter, div.experiment_list .search-filter p span.clear-filter {
                    border-radius: 4px;
                    width: 10%;
                    line-height: 30px;
                    color: #4c4c4c;
                    text-align: center;
                    transition: background-color .5s;
                    -webkit-transition: background-color .5s;
                    -moz-transition: background-color .5s;
                    -o-transition: background-color .5s;
                }

                div.experiment_list .search-filter p span.filter {
                    background-color: lightskyblue;
                    vertical-align: middle;
                }

                div.experiment_list .search-filter p span.clear-filter {
                    background-color: #f65858;
                    vertical-align: middle;
                }

                    div.experiment_list .search-filter p span.filter:hover {
                        background-color: #6ca4c8;
                        cursor: pointer;
                    }

                    div.experiment_list .search-filter p span.clear-filter:hover {
                        background-color: #dc3f3f;
                        cursor: pointer;
                    }

            div.experiment_list .search-filter p input {
                font-size: 13px;
                box-sizing: border-box;
                padding: 1px 5px;
                color: #4c4c4c;
                border-radius: 4px;
                border: 1px solid #4c4c4c;
                height: 30px;
                margin-left: 1%;
                vertical-align: middle;
            }

                div.experiment_list .search-filter p input:focus {
                    border: 2px solid lightskyblue;
                }

            div.experiment_list .search-filter p .date {
                width: 19%
            }

            div.experiment_list .search-filter p .name{
                width: 28%;
            }

            div.experiment_list .search-filter p .progress{
                width: 17%;
            }

            div.experiment_list .search-filter p .status{
                width: 20%;
            }

    div.experiment_list .list-header {
        box-sizing: border-box;
        width: 95%;
        margin-left: 5%;
        margin-bottom: 10px;
        height: 40px;
        font-size: 0;
        border-radius: 4px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.experiment_list .list-header > span {
            display: inline-block;
            font-size: 17px;
            box-sizing: border-box;
            vertical-align: middle;
            line-height: 40px;
            margin-left: 1%;
            font-weight: bold;
        }

            div.experiment_list .list-header span img {
                display: none;
                vertical-align: middle;
                width: 20px;
                margin-bottom: 5px;
                padding-left: 5px;
            }

            div.experiment_list .list-header > span > span:hover{
                cursor: pointer;
                color: black;
            }

            div.experiment_list .list-header span#date {
                width: 14%;
            }

            div.experiment_list .list-header span#name {
                width: 40%;
            }

            div.experiment_list .list-header span#progress {
                width: 16%;
            }

            div.experiment_list .list-header span#status {
                width: 16%;
            }

        div.experiment_list .list-header img.delete-all {
            display: inline-block;
            box-sizing: border-box;
            vertical-align: middle;
            height: 34px;
            padding: 5px;
            border-radius: 4px;
            margin-left: calc(100% - 90% - 34px);
            transition: background-color .5s;
        }

        div.experiment_list .list-header img.delete-all:hover {
            cursor: pointer;
            background-color: lightgray;
        }

    div.experiment_list .experiment_row, div.experiment_list .pagination-controls {
        box-sizing: border-box;
        width: 95%;
        margin-left: 5%;
        font-size: 0;
        border-radius: 4px;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -o-transition: background-color .5s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.experiment_list .experiment_row.highlight {
            cursor: pointer;
            background-color: lightgrey;
        }

    div.experiment_list .pagination-controls{
        text-align: center;
        border-radius: 4px;
        margin-top: 10px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.experiment_list .pagination-controls span{
            display: inline-block;
            font-size: 17px;
            box-sizing: border-box;
            vertical-align: middle;
            line-height: 40px;
            height: 40px;
            background-color: lightgray;
            width: 6%;
            transition: background-color .5s;
            -webkit-transition: background-color .5s;
            -moz-transition: background-color .5s;
            -o-transition: background-color .5s;
        }

        div.experiment_list .pagination-controls span.previous{
            margin-right: 1%;
            width: 10%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        div.experiment_list .pagination-controls span.next{
            margin-left: 1%;
            width: 10%;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

            div.experiment_list .pagination-controls span:hover{
                background-color: gray;
                cursor: pointer;
            }

    div.experiments-rows-wrapper{
        position: relative;
        min-height: 640px;
    }

        div.experiments-rows-wrapper .error-row{
            display: none;
            width: 100%;
            text-align: center;
            font-size: 17px;
            box-sizing: border-box;
            padding: 5px 0 20px 0;
            margin-bottom: 10px;
        }

        div.experiments-rows-wrapper .experiment_row a {
            display: none;
        }

        div.experiments-rows-wrapper .experiment_row span{
            display: inline-block;
            font-size: 17px;
            box-sizing: border-box;
            vertical-align: middle;
            line-height: 40px;
            margin-left: 1%;
        }

            div.experiments-rows-wrapper .experiment_row span.date {
                width: 14%;
            }

            div.experiments-rows-wrapper .experiment_row span.name {
                width: 40%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
            }

            div.experiments-rows-wrapper .experiment_row span.progress {
                width: 16%;
            }

            div.experiments-rows-wrapper .experiment_row span.status {
                width: 16%;
            }

            div.experiments-rows-wrapper .experiment_row img.delete{
                display: inline-block;
                opacity: 0;
                vertical-align: middle;
                height: 34px;
                box-sizing: border-box;
                padding: 5px;
                margin-left: calc(100% - 90% - 34px);
                transition: opacity .5s;
                -webkit-transition: opacity .5s;
                -moz-transition: opacity .5s;
                -o-transition: opacity .5s;
            }

.ui-tooltip {
    background: #4c4c4c !important;
    box-sizing: border-box !important;
    height: 34px;
    padding: 0 5px !important;
    margin: 0 !important;
    line-height: 34px;
    border: none !important;
    box-shadow: 0 0 0 !important;
    border-radius: 4px !important;
    color: whitesmoke;
    max-width: 800px;
    position: absolute;
}

    .ui-tooltip-content {
        font-size: 14px !important;
    }

    .ui-tooltip:after {
        content: " ";
        width: 0;
        border: 10px solid #4c4c4c;
        border-top-color: transparent;
        position: absolute;
    }

.leftArrowTooltip:after{
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: -19px;
    top: 7px;
}

.rightArrowTooltip:after{
    border-bottom-color: transparent;
    border-right-color: transparent;
    right: -19px;
    top: 7px;
}

.upArrowTooltip{
    height: auto;
    line-height: 23px;
    max-width: 450px;
    padding: 10px !important;
}

    .upArrowTooltip .ui-tooltip-content {

    }

.upArrowTooltip:after{
    border-left-color: transparent;
    border-right-color: transparent;
    right: 50%;
    top: -19px;
}

.selectedPaginationControl {
    background-color: lightskyblue !important;
}

.selectedRow {
    background-color: lightgray;
}

.hiddenBefore, .hiddenAfter{
    display: none !important;
}

.file-extension-validation-error, .search-filter-validation-error {
    background-color: #f65858;
}

.advanced-settings-toggle-clicked {
    background-image: url(/static/styles/icons/arrow_down.png) !important;
}

.selected-radio-button{
    background-color: greenyellow;
}

.visible{
    display: inline-block !important;
}

/* dialog classes */
.ui-widget-overlay {
    background: lightgrey none;
    opacity: .7;
}

.ui-dialog.ui-widget-content{
    background: whitesmoke;
    border: none;
    margin-top: 0;
    top: 350px !important;
}

.ui-widget-header{
    background: #4c4c4c;
    border: 1px solid #4c4c4c;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    text-align: center;
    float: none;
}

.ui-dialog .ui-dialog-buttonpane{
    margin-top: 0;
}

.ui-dialog .ui-dialog-content{
    padding: 0;
    height: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane button{
    margin-right: 0;
}

    .ui-dialog .ui-dialog-buttonpane button:first-child{
        margin-right: 5px;
    }

.ui-widget-content .ui-state-default{
    border: none;
    background: lightgray;
    color: #4c4c4c;
}

.ui-widget-content .ui-state-hover{
    border: none;
    background: #999999;
}

.ui-widget-content .ui-state-focus{
    border: none;
    background: #999999;
}

.ui-dialog .ui-dialog-titlebar-close{
    display: none;
}
