html, body, .PageWrapper{
    height: 100%;
}

.PageWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 500px;
}

header{
    display: none !important;
}

section{
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

footer{
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
    height: 140px;
    padding: 0;

}

.content-wrapper{
    margin-top: 50px;
    margin-bottom: 40px;
}

p{
    font-size: 20px;
}

.red-color{
    color: #f65858;
}