html, body, .PageWrapper{
    height: 100%;
}

.PageWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 500px;
}

section{
    flex-grow: 1;
    flex-shrink: 0;
}

footer{
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
    height: 140px;
    padding: 0;

}

.loading-screen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;
    color: #4c4c4c;
    text-align: center;
    opacity: 1;
    font-size: 40px;
}

.error-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    display: none;
}

    .error-screen img{
        vertical-align: middle;
        margin-right: 20px;
    }

    .loading-screen:after, .error-screen:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .loading-screen span, .error-screen span{
        vertical-align: middle;
    }

.chart-fullscreen{
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4c4c4c;
    display: none;
    position: fixed;
    z-index: 10000
}

    .chart-fullscreen #chart {
        display: block;
        width: 100%;
        height: 88%;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        margin: auto;
        position: relative;
    }

    .chart-fullscreen .btnCloseChartFullscreen {
        display: block;
        position: absolute;
        background-color: white;
        color: red;
        border: none;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        z-index: 100000;
        font-weight: bold;
        font-size: 26px;
    }

        .chart-fullscreen .btnCloseChartFullscreen:hover {
            background-color: red;
            color: white;
            cursor: pointer;
        }

div.best-results-table {
    width:74%;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

    div.best-results-table #best-results-table-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.6;
        display: none;
        background-color: whitesmoke;
    }

    div.best-results-table p {
        width: 99%;
        margin-right: 1%;
    }

        div.best-results-table p span {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }

        div.best-results-table p.header-row{
            box-sizing: border-box;
            border-bottom: 3px solid #4c4c4c;
        }

            div.best-results-table p.header-row span:nth-child(4){
                box-sizing: border-box;
                border-right: 3px solid #4c4c4c;
            }

        div.best-results-table p.result-row {
            border-radius: 4px;
            transition: background-color .5s;
            -webkit-transition: background-color .5s;
            -moz-transition: background-color .5s;
            -o-transition: background-color .5s;
        }

        div.best-results-table p.result-row:nth-child(odd){
            background-color: #e3e3e3;
        }

            div.best-results-table p.result-row:hover {
                background-color: #a9acb3;
                cursor: pointer;
            }

            div.best-results-table p.result-row span{
                font-weight: bold;
            }

            div.best-results-table p.result-row span:not(.weight):nth-child(5){
                box-sizing: border-box;
                border-right: 3px solid #4c4c4c;
            }

.experiment_details{
    width: 26%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

    .experiment_details p {
        font-size: 0;
    }

        .experiment_details p.home-button {
            text-align: right;
        }

        .experiment_details p a.home_button {
            box-sizing: border-box;
            display: inline-block;
            border-radius: 4px;
            background-color: #e3e3e3;
            text-decoration: none;
            width: 30%;
            font-size: 20px;
            text-align: center;
            color: #4c4c4c;
            line-height: 31px;
            height: 31px;
            transition: background-color .5s;
            -webkit-transition: background-color .5s;
            -moz-transition: background-color .5s;
            -o-transition: background-color .5s;
        }

            .experiment_details p a.home_button:hover {
                background-color: #a9acb3;
                cursor: pointer;
            }

        .experiment_details p span {
            display: inline-block;
            font-size: 12px;
            line-height: 25px;
            text-align: right;
            margin-right: 2%;
            width: 45%;
            color: #4c4c4c;
            vertical-align: middle;
        }

        .experiment_details p span:nth-child(2n + 2) {
            width: 53%;
            text-align: left;
            margin: 0;
            font-weight: bold;
        }

        .experiment_details p.exp_uploaded_files a {
            width: 53%;
            display: inline-block;
            font-size: 12px;
            text-decoration: none;
            vertical-align: middle;
            line-height: 25px;
        }

        .experiment_details p.exp_uploaded_files a:hover {
            text-decoration: underline;
        }

#PresentationPanel {
    font-size: 0;
    margin: 10px 0 0;
    position: relative;
}

    #PresentationPanel .DataViewerPanel {
        width: 74%;
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
    }

        #PresentationPanel .DataViewerPanel #pvViewer {
            display: inline-block;
            width: 415px;
            margin-right: 1%;
            height: 420px;
            background-color: #cdd0d7;
            vertical-align: middle;
            border: 1px solid #9498a1;
            border-radius: 4px;
            vertical-align: middle;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            font-size: 0;
            overflow: hidden;
        }

        #PresentationPanel .DataViewerPanel #chart {
            display: inline-block;
            width: calc(98% - 415px);
            height: 420px;
            box-sizing: border-box;
            border: 1px solid #9498a1;
            border-radius: 4px;
            margin-right: 1%;
            overflow: auto;
            vertical-align: middle;
        }

    .ControlsPanel {
        margin: auto;
        font-size: 0px; /*remove white space between buttons*/
        position: relative;
        width: 26%;
        display: inline-block;
        vertical-align: middle;
    }

        .ControlsPanel #controls-panel-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            opacity: 0.6;
            display: none;
            background-color: whitesmoke;
        }

            .ControlsPanel .model_buttons {
                font-size: 0;
            }

                .ControlsPanel .model_buttons span {
                    font-size: 12px;
                    display: inline-block;
                    height: 25px;
                    line-height: 25px;
                    width: 15%;
                    margin: 0 2% 10px 0%;
                    vertical-align: middle;
                    background-color: #e3e3e3;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    box-sizing: border-box;
                    text-align: center;
                }

                    .ControlsPanel .model_buttons span:nth-of-type(3n + 3) {
                        margin-right: 0;
                    }

                .ControlsPanel .model_buttons input {
                    box-sizing: border-box;
                    width: 17%;
                    height: 25px;
                    margin-bottom: 10px;
                    text-align: center;
                    border: none;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0 6px 0 6px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #4c4c4c;
                    background-color: #e3e3e3;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    transition: background-color .5s;
                    -webkit-transition: background-color .5s;
                    -moz-transition: background-color .5s;
                    -o-transition: background-color .5s;
                }

                    .ControlsPanel .model_buttons input:not(.selected):hover {
                        background-color: #a9acb3 !important;
                        cursor: pointer;
                    }

                    .ControlsPanel .model_buttons input.selected {
                        background-color: greenyellow;
                    }

                        .ControlsPanel .model_buttons input.selected:hover {
                            background-color: #8acc25;
                            cursor: pointer;
                        }

            .ControlsPanel .Controls {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .ControlsPanel .Controls .row{
                font-size: 0;
                margin-bottom: 10px;
            }

                .ControlsPanel .Controls label {
                    font-size: 12px;
                    vertical-align: middle;
                    margin-right: 2%;
                    display: inline-block;
                    width: 25%;
                    text-align: right;
                }

                .ControlsPanel .Controls span {
                    font-size: 12px;
                    vertical-align: middle;
                    margin-left: 2%;
                    width: 8%;
                    display: inline-block;
                    font-weight: bold;
                }

                .ControlsPanel .Controls .progressBar {
                    display: inline-block;
                    font-size: 20px;
                    width: 63%;
                    height: 25px;
                    vertical-align: middle;
                    box-sizing: border-box;
                }

                    .ControlsPanel .Controls .progressBar.ui-widget-content {
                        border: 1px solid #9498a1;
                    }

                    .ControlsPanel .Controls .progressBar .ui-widget-header {
                        background: none;
                        border: 1px solid yellowgreen;
                    }

                    .ControlsPanel .Controls .progressBar .ui-progressbar-value {
                        background-color: greenyellow;
                    }

                .ControlsPanel .Controls .btnSlider {
                    width: 63%;
                    vertical-align: middle;
                    margin: 0;
                    height: 25px;
                }

                .ControlsPanel .Controls input[type='radio'] {
                    display: none;
                }

                .ControlsPanel .Controls .select-val,
                 .ControlsPanel .Controls .sort-val {
                    box-sizing: border-box;
                    height: 25px;
                    line-height: 25px;
                    margin: 0 2% 0 0;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0 3px;
                    color: #4c4c4c;
                    background-color: #e3e3e3;
                    transition: background-color .5s;
                    -webkit-transition: background-color .5s;
                    -moz-transition: background-color .5s;
                    -o-transition: background-color .5s;
                }

                    .ControlsPanel .Controls .select-val:hover,
                     .ControlsPanel .Controls .sort-val:hover{
                        cursor: pointer;
                        background-color: #a9acb3;
                    }

                .ControlsPanel .Controls .radioSelectAll, .ControlsPanel .Controls .radioSelectNone, .ControlsPanel .Controls .radioHighestValue {
                    width: 23%;
                }

                .ControlsPanel .Controls .radioSortAsc, .ControlsPanel .Controls .radioSortDesc, .ControlsPanel .Controls .radioSortDefault {
                    width: 23%;
                }

                .ControlsPanel .Controls .row label:last-child {
                    margin-right: 0;
                }

.option-selected {
    background-color: lightskyblue !important;
}

.selected-solution {
    background-color: lightskyblue !important;
}

/*tooltip*/
.ui-tooltip {
    background: #4c4c4c !important;
    box-sizing: border-box !important;
    height: 34px;
    padding: 0 7px !important;
    margin: 0 !important;
    line-height: 30px;
    border: 2px solid lightgray !important;
    box-shadow: 0 0 0 !important;
    border-radius: 4px !important;
    color: whitesmoke;
    max-width: 800px;
    position: absolute;
}

    .ui-tooltip-content {
        font-size: 14px !important;
    }