{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <script src="{{ url_for('static',filename='scripts/app/home.js') }}"></script>
{% endblock %}

{% block content %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
    {% endfor %}
    <div class="submit_experiment">
        <h1>Submit a new computation {{ r }}</h1>
        <form action="/home" method="post" enctype="multipart/form-data" id="new_experiment_form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}{{ form.title}}
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}{{ form.description }}
                {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p class="row-models">
                {{ form.models.label}}
                <label class="file-upload">
                    {{ form.models }}
                    <span class="title">Choose File</span>
                </label>
                <span class="filename"></span>
                {% for error in form.models.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p class="row-expData">
                {{ form.expData.label }}
                <label class="file-upload">
                    {{ form.expData }}
                    <span class="title">Choose File</span>
                </label>
                <span class="filename"></span>
                {% for error in form.expData.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.qRange.label }}{{ form.qRange(min=0.5, max=1, step=0.01) }}
                {% for error in form.qRange.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                <label class="qRange-value">0.5</label>
            </p>
            <p>line
                {{ form.calcType.label }}
                <span class="calcType">
                    {% for subfield in form.calcType %}
                        {{ subfield }}
                        {{ subfield.label }}
                    {% endfor %}
                </span>
                {% for error in form.calcType.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.calcSteps.label }}{{ form.calcSteps }}
                {% for error in form.calcSteps.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <div class="advanced-settings-toggle">
                <div class="advanced-settings-toggle-content-wrapper">
                    <span>Advanced settings</span>
                    <div class="img"></div>
                </div>
            </div>
            <div class="advanced-settings">
                <p>
                    {{ form.stepsBetweenSync.label }}{{ form.stepsBetweenSync }}
                    {% for error in form.stepsBetweenSync.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.alpha.label }}{{ form.alpha }}
                    {% for error in form.alpha.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.beta.label }}{{ form.beta }}
                    {% for error in form.beta.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.gamma.label }}{{ form.gamma }}
                    {% for error in form.gamma.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
            <p class="form_buttons">
                <input id="btnReset" type="reset" value="Clear">
                {{ form.submit }}
            </p>
        </form>
    </div>
    <div class="experiment_list">
        <div class="img-reload-list-overlay"></div>
        <div class="filter-toggle-overlay"></div>
        <div class="delete-dialog"></div>
        <img class="img_reload_list" src="/static/styles/icons/reload.png" title="reload">
        <h1>View a computation</h1>
        <img class="filter-toggle" src="/static/styles/icons/search_filter.png" title="search filter">
        <div class="search-filter">
            <div class="search-filter-overlay"></div>
            <p class="header">
                <span class="date">Date</span>
                <span class="name">Name</span>
                <span class="progress">Progress</span>
                <span class="status">Status</span>
                <span class="clear-filter">Clear</span>
            </p>
            <p class="textboxes">
                <input class="date" type="text">
                <input class="name" type="text">
                <input class="progress" type="text">
                <input class="status" type="text">
                <span class="filter">Filter</span>
            </p>
        </div>
        <div class="list-header">
            <div class="list-header-overlay"></div>
            <span id="date" class="descending"><span>Date<img class="visible" src="/static/styles/icons/arrow_down2.png"></span></span>
            <span id="name"><span>Title<img src="/static/styles/icons/arrow_down2.png"></span></span>
            <span id="progress"><span>Progress<img src="/static/styles/icons/arrow_down2.png"></span></span>
            <span id="status"><span>Status<img src="/static/styles/icons/arrow_down2.png"></span></span>
            <!--<img class="delete-all" src="/static/styles/icons/recycle_bin.png">-->
        </div>
        <div class="experiments-rows-wrapper">
            <div class="experiment_list_overlay">
                <img id="loading-icon" src="/static/styles/icons/gears.gif">
            </div>
            <div class="error-info get-comps-error">
                <img id="error-icon" class="" src="/static/styles/icons/error.png">
                Error while trying to load data. Please try again.
            </div>
            <div class="error-info delete-comps-error">
                <img id="error-icon" class="" src="/static/styles/icons/error.png">
                Error while trying to delete computation. Please try again.
            </div>
            {% for item in comps %}
                <div class="experiment_row {{ item.status }}">
                    {% if item.progress != '0' or item.status == 'user_error' or item.status == 'server_error' %}
                        <a href="{{ url_for('main.view_experiment', user_id=item.user_id, comp_guid=item.comp_guid) }}"></a>
                    {% endif %}
                    <span class="date">{{ item.date }}</span>
                    <span class="name">{{ item.name }}</span>
                    <span class="progress">{{ item.progress }}</span>
                    <span class="status">{{ item.status }}</span>
                    {% if item.progress != '0' or item.status == 'user_error' or item.status == 'server_error' %}
                        <img class="delete" src="{{ url_for('static', filename='styles/icons/recycle_bin.png') }}">
                    {% endif %}
                    {% if item.status == 'user_error'%}
                        <div class="error-row">
                            {{ item.error_message }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination-controls">
            <div class="pagination-controls-overlay"></div>
            {% if pages|length > 1 %}
                <span class="page previous"> < </span>
                    {% for item in pages %}
                        <span class="page _{{ loop.index }}">{{ loop.index }}</span>
                    {% endfor %}
                <span class="page next"> > </span>
            {% endif %}
        </div>
    </div>
{% endblock %}