{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sign_up.css') }}">
    <script src="{{ url_for('static',filename='scripts/app/sign_up.js') }}"></script>
{% endblock %}

{% block header %}
    {{ super() }}
    <a class="dropdown_toggle">Log In</a>
    <div class="dropdown-form-wrapper">
        <div class="dropdown-login-form-wrapper">
            <form class="login_form" name="login_form" action="{{ url_for('userManagement.login', next=request.args.get("next")) }}"
                    method="post" id="login_form">
                {{ l_form.hidden_tag() }}
                <p class="login_errors">
                    {% for message in get_flashed_messages(category_filter=["login_error"]) %}
                        <span>{{ message }}</span>
                    {% endfor %}
                    {% for error in l_form.login_email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ l_form.login_email}}
                </p>
                <p>
                    {{ l_form.login_password }}
                </p>
                <p>
                    {{ l_form.remember_me.label }}{{ l_form.remember_me }}
                    {{ l_form.submit }}
                </p>
                <p class="last_row">
                    <label class="toggle-password-reset-request-form">Forgot your password?</label>
                </p>
            </form>
        </div>
        <div class="dropdown_password_reset_request_form_wrapper">
            <form class="password_reset_request_form" name="password_reset_request_form"
                    action="{{ url_for('userManagement.password_reset_request') }}" method="post" id="password_reset_request_form">
                {{ pr_form.hidden_tag() }}
                <p class="password-reset-request-errors">
                    {% for message in get_flashed_messages(category_filter=["password_reset_request_error"]) %}
                        <span>{{ message }}</span>
                    {% endfor %}
                    {% for error in pr_form.user_email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ pr_form.user_email }}
                </p>
                <p>
                    {{ pr_form.submit }}
                </p>
                <p class="last_row">
                    <input id="cancel" type="button" value="Cancel">
                </p>
            </form>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="flash-message">
        {% for message in get_flashed_messages(category_filter=["info"]) %}
            <span class="info">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="register-form-wrapper">
        <h1>Sign Up</h1>
        <form name="register_form" action="{{ url_for('userManagement.register') }}" method="post" id="register_form">
            {{ r_form.hidden_tag() }}
            <p>
                {{ r_form.register_email.label }}{{ r_form.register_email}}
                {% for error in r_form.register_email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ r_form.username.label }}{{ r_form.username }}
                {% for error in r_form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ r_form.register_password.label }}{{ r_form.register_password }}
                {% for error in r_form.register_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ r_form.password2.label }}{{ r_form.password2 }}
                {% for error in r_form.password2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p class="submit-button">
                {{ r_form.submit }}
            </p>
        </form>
    </div>
{% endblock %}